dist: focal

language: python

python:
  - "2.7"
  - "3.7"

env:
  global:
    - TZ=America/New_York
    - NUO_DOWNLOAD=https://ce-downloads.nuohub.org
    - NUO_PREFIX=nuodb-ce
    - NUO_SET_TLS=disable
    - NUODB_HOME=/opt/nuodb

notifications:
  recipients:
    - drivers@nuodb.com

before_install:
  - echo madvise | sudo tee /sys/kernel/mm/transparent_hugepage/enabled >/dev/null
  - echo madvise | sudo tee /sys/kernel/mm/transparent_hugepage/defrag >/dev/null
  - wget -q "$NUO_DOWNLOAD/supportedversions.txt" --output-document=/tmp/supportedversions.txt
  - wget -q "$NUO_DOWNLOAD/${NUO_PREFIX}_$(tail -n1 /tmp/supportedversions.txt)_amd64.deb" --output-document=/var/tmp/nuodb.deb
  - sudo dpkg -i /var/tmp/nuodb.deb
  - echo "NuoDB Version:" && $NUODB_HOME/bin/nuodb --version

install:
  - make install

before_script:
  - sudo -n $NUODB_HOME/etc/nuoadmin tls $NUO_SET_TLS
  - sudo -n systemctl start nuoadmin

script:
  - make test NUODB_HOME=$NUODB_HOME

after_failure:
  - cat /var/log/nuodb/nuoadmin.log*
  - grep ssl /etc/nuodb/nuoadmin.conf
